@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, corporate;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  /* margin-top: 0px;
  margin-bottom: 0px; */
}